.hero {
    position: relative;
    padding-bottom: 80px;
}

.hero-paragraph {
    margin-bottom: 32px;
}

.hero-title {
    text-transform: capitalize;
}

.hero-browser {
    position: relative;
    @include shadow;

}

.hero-browser-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; /* To display bubbles below the browser */

    svg {
        overflow: visible;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }


}

.bubble-1,
.bubble-2,
.bubble-3,
.bubble-4,
.bubble-5 {
    position: absolute;

    svg {
        height: auto;
    }
}

.bubble-1 {
    top: -15px;
    left: 70px;

    svg {
        width: 34px;
    }
}

.bubble-2 {
    bottom: -30px;
    right: -30px;

    svg {
        width: 78px;
    }
}

.bubble-3 {
    left: -40px;
    bottom: -40px;

    svg {
        width: 143px;
    }
}

.bubble-4 {
    top: -25px;
    right: -54px;

    svg {
        width: 104px;
    }
}
.bubble-5 {
    position: relative;
    padding: 50px 30px;

    .control:last-of-type {
        // margin-bottom: 100px;

    }


}

@include media( '>medium' ) {

    .hero {
        padding-bottom: 200px;
    }

    .hero-paragraph {
        margin-bottom: 40px;
        padding-left: 72px;
        padding-right: 72px;
    }

    .bubble-1,
    .bubble-2,
    .bubble-3,
    .bubble-4,
    .bubble-5 {

        svg {
            width: auto;
        }
    }

    .bubble-1 {
        top: 85px;
        left: -30px;
    }

    .bubble-2 {
        bottom: -8px;
        right: -75px;
    }

    .bubble-3 {
        left: -140px;
        bottom: -120px;
    }

    .bubble-4 {
        top: -35px;
        right: -110px;
    }

    .bubble-5 {
        padding: 150px 130px 100px;
    }

}
